<div class="py-2">
  {{ range . }}
    <div class="my-8 flex flex-col items-center md:flex-row">
      <a href="{{ .Permalink }}" class="md:me-4 text-primary-text h-24 w-24">
        {{ $img := partial "utils/get-image" (dict "context" . "url" .Params.avatar "keyword" "*avatar*") }}
        {{ with $img }}
          <img
            src="{{ . }}"
            class="bg-primary-bg w-full rounded-full"
            alt="Avatar"
          />
        {{ else }}
          <i class="fas fa-user-circle fa-6x"></i>
        {{ end }}
      </a>
    </div>
  {{ end }}
</div>
