<div class="py-2">
  {{ range . }}
  <div class="flex flex-col items-center md:flex-col md:me-4 my-4">
    <a href="{{ .Permalink }}" class="text-primary-text w-24">
      {{ $img := partial "utils/get-image" (dict "context" . "url"
      .Params.avatar "keyword" "*avatar*") }} {{ with $img }}
      <img
        src="{{ . }}"
        class="bg-primary-bg w-full rounded-full"
        alt="Avatar"
      />
      {{ else }}
      <i class="w-full fas fa-user-circle fa-4x"></i>
      {{ end }}
    </a>
    <a
      href="{{ .Permalink }}"
      class="text-sm font-bold"
    >
      <h3>{{ .LinkTitle }}</h3>
    </a>
  </div>
  {{ end }}
</div>
